.container {
  margin-bottom: 10%;
}

.nav.nav-tabs.right {
  float: right;
}

.jumbotron {
text-align: center;
}

.row.second {
  padding-top: 3%;
}

.row.third h1 {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.challenged {
  color: green;
}

.about a{
  color: #333;
  text-decoration: underline;
}

.me img {
  border: 2px solid black;
}

@media screen and (max-width: 995px) {
    .row.fourth {
      text-align: center;
    }

    .row.fourth li {
      list-style: none;
    }

    .row.fourth h3 {
      padding-left: 5%;
    }

    .row.fourth img {
      padding-left: 5%;
    }

    .about {
      padding-left: 5%;
    }

    .row.second {
      padding-top: 0%;
    }

    .row.third h1 {
      text-align: center;
      padding-top: 0%;
      padding-bottom: 3%;
    }
}
