.container {
  margin-bottom: 10%;
  padding-bottom:10%;
  background-image: url("../img/bkg.png");
}

.nav.nav-tabs.right {
  float: right;
}

.about-me-nav {
  color: white;
}

a.about-me-nav {
  color: grey;
}

.jumbotron {
text-align: center;
color: white;
background-image: url("../img/head-img.png");
}

.panel-heading {
  background-color: #383839!important;
}

.desc-lang {
  color: #E34C26;
}

.desc-git {
  padding-top:2%;
  text-align: center;
}

h3.panel-title {
  color: white;
}

.row.second {
  padding-top: 3%;
}

.row.third h1 {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.challenged {
  color: green;
}

.about a{
  color: #333;
  text-decoration: underline;
}

.me img {
  border: 2px solid black;
}

.col-md-4.me {
  text-align: center;
}



@media screen and (max-width: 995px) {
    .row.fourth {
      text-align: center;
    }

    .row.fourth li {
      list-style: none;
    }

    .row.fourth h3 {
      margin-left: 5%;
    }

    .row.fourth img {
      margin-left: 5%;
    }

    .row.fourth p {
      margin-left: 5%;
    }

    .about {
      margin-left: 5%;
    }

    .row.second {
      padding-top: 0%;
    }

    .row.third h1 {
      text-align: center;
      padding-top: 0%;
      padding-bottom: 3%;
    }
}
