.container {
  margin-bottom: 10%;
  padding-bottom: 10%;
  background-image: url("../img/bkg.png");
}

.nav.nav-tabs.right {
  float: right;
}

.about-me-nav {
  color: white;
}

a.about-me-nav {
  color: grey;
}

.jumbotron {
  text-align: center;
  color: white;
  background-image: url("../img/head-img.png");
}

.row.first {
  padding-top: 2%;
}

.panel-heading {
  background-color: #383839!important;
}



.desc-lang {
  color: #E34C26;
}

.desc-git {
  padding-top: 2%;
  text-align: center;
}

h3.panel-title {
  color: white;
}

h3.panel-title a:hover{
  color: #E34C26;
}


.row.second {
  padding-top: 3%;
}

.row.third h1 {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.challenged {
  color: green;
}

.about a {
  color: #333;
  text-decoration: underline;
}

.me img {
  border: 2px solid black;
}

.col-md-4.me {
  text-align: center;
}

.col-md-4.me p {
  font-size: 10pt;
}

.well.bkg {
  background-color: #b2e8f9;
}

.well.hob {
  background-color: #fd99b4;
}

.well.skill {
  background-color: #ffe7c0;
}

@media screen and (max-width: 995px) {
  .row.fourth {
    text-align: center;
  }
  .row.fourth li {
    list-style: none;
  }
  .row.fourth h3 {
    margin-left: 5%;
  }
  .row.fourth img {
    margin-left: 5%;
  }
  .row.fourth p {
    margin-left: 5%;
  }
  .about {
    margin-left: 5%;
  }
  .row.second {
    padding-top: 0%;
  }
  .row.third h1 {
    text-align: center;
    padding-top: 0%;
    padding-bottom: 3%;
  }
}
